
@{
  ViewBag.Title = "Home";
  Layout = "/Views/Shared/_Layout.cshtml";
  var newProduct = (List<Model.EF.Product>)ViewBag.NewProduct;
  var hotProduct = (List<Model.EF.Product>)ViewBag.HotProduct;
}
@section Slider
{
    @{Html.RenderAction("Slider", "Home");}
}
@section ProductCategory
{
    @{Html.RenderAction("ProductCategory", "Home");}
}
<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="heading">
                <h3>New Products</h3>
            </div>
            <div class="see">
                <p><a href="/Product">See all Products</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            @{
              foreach (var item in newProduct)
              {
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="detail/@item.MetaKeyword-@item.ID"><img src="@item.Avatar" alt=@item.Name /></a>
                        <h2>@item.Name</h2>
                        <div class="price-details">
                            <div class="price-number">
                                <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") + "đ" : "Contact")</span></p>
                            </div>
                            <div class="add-cart">
                                <h4><a href="preview.html">Add to Cart</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </div>
              }
            }
        </div>
        <div class="content_bottom">
            <div class="heading">
                <h3>Feature Products</h3>
            </div>
            <div class="see">
                <p><a href="/Product">See all Products</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            @{
              foreach (var item in hotProduct)
              {
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="detail/@item.MetaKeyword-@item.ID"><img src="@item.Avatar" alt="@item.Name" /></a>
                        <h2>@item.Name</h2>
                        <div class="price-details">
                            <div class="price-number">
                                <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") + "đ" : "Contact")</span></p>
                            </div>
                            <div class="add-cart">
                                <h4><a href="preview.html">Add to Cart</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                  }
              }
        </div>
    </div>
</div>
