@model List<OnlineShop.Models.CartItem>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var amounts = new List<int>();
}
@section footerScript{
    <script src="/Asset/js/CartController/CartScript.js"></script>
}
<h2>Cart detail</h2>
<div class="main">
    <div class="content">
        @if (Model != null)
        {
            <table class="table table-bordered dataTable-table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Image</td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td>Amount</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;

                        foreach (var item in Model)
                        {
                            i++;

                            <tr>
                                <td><a href="~/detail/@item.Product.MetaKeyword-@item.Product.ID">@item.Product.Name</a></td>
                                <td><img src="@item.Product.Avatar" width="100" /></td>
                                <td>
                                    <input type="text" value="@item.Quantity" data-id="@item.Product.ID" class="quantity" />
                                    <button id="btnAdd-@i" class="btn btn-circle btnIncrease" data-id="@item.Product.ID"><span style="font-weight:bold; color:red">+</span></button>
                                    <button id="btnSub-@i" class="btn btn-circle btnDecrease" data-id="@item.Product.ID"><span style="font-weight:bold; color:red">-</span></button>
                                </td>
                                <td data-id="@item.Product.ID" class="price" >@item.Product.Price.GetValueOrDefault().ToString("N0")</td>
                                @{amounts.Add((int)(item.Product.Price.GetValueOrDefault() * item.Quantity));
                                }
                                <td data-id="@item.Product.ID" class="amount">@((amounts[i - 1]).ToString("N0"))</td>
                                <td>
                                    @Ajax.ActionLink("Delete", "Delete", new { id = item.Product.ID }, new AjaxOptions
                               {
                                   Confirm = "Do you want to delete?",
                                   OnComplete = "$('#row_" + item.Product.ID + "').remove()",
                                   HttpMethod = "Delete"
                               })
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:</td>
                        <td>
                            @{ var sum = 0;
                                foreach (var val in amounts)
                                {
                                    sum += val;
                                }
                            }
                            <span id="totalAmount">@sum.ToString("N0")</span>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="Cart/Payment">Payment</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <span>The is no item in cart!</span>
        }
    </div>
</div>